/*==============================
TABLE OF CONTENTS 

|0| RESET
|1| VARIABLES
|2| UTILITIES
|3| BASIC ELEMENTS
|4| HEADER
|5| CARD COMPONENT
|6| MEDIA QUERIES
==============================*/

/*==============================
|0| RESET
==============================*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*==============================
|1| VARIABLES
==============================*/

/* See styles/variables.css  */

/*==============================
|2| UTILITIES
==============================*/

/* See /styles/utilities.css */

/*==============================
|3| BASIC ELEMENTS
==============================*/

body {
  background: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  margin-top: var(--g-xl);
  color: var(--clr-neutral-500);
  font-size: var(--fs-sm);
}

main {
  padding: calc(var(--g-sm) * 2);
}

/*==============================
|4| HEADER
==============================*/

.attribution {
  display: none;
}

header {
  text-align: center;
  margin: 0 auto var(--g-xl);
  max-width: 540px;
}

h1,
h2 {
  font-size: var(--fs-lg);
  color: var(--clr-neutral-700);
}

h1 {
  font-weight: var(--fw-light);
}

h2 {
  margin-bottom: var(--g-sm);
}

.lead {
  line-height: 25px;
}

/*==============================
|5| CARD COMPONENT
==============================*/

.cards {
  display: grid;
  gap: var(--g-md);
  justify-content: center;
}

.cards__element {
  display: flex;
  flex-direction: column;
  padding: var(--g-md);
  background: white;
  box-shadow: var(--bxs-md);
  min-height: 222px;
  position: relative;
  overflow: hidden;
  border-radius: var(--rad-md);
}

.cards__element:nth-of-type(1n + 1)::before,
.cards__element:nth-of-type(2n + 2)::before,
.cards__element:nth-of-type(3n + 3)::before,
.cards__element:nth-of-type(4n + 4)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}
.cards__element:nth-of-type(1n + 1)::before {
  background: var(--clr-primary-cyan);
}
.cards__element:nth-of-type(2n + 2)::before {
  background: var(--clr-primary-red);
}
.cards__element:nth-of-type(3n + 3)::before {
  background: var(--clr-primary-orange);
}
.cards__element:nth-of-type(4n + 4)::before {
  background: var(--clr-primary-blue);
}

.cards__element__header {
  color: var(--clr-neutral-700);
  font-size: var(--fs-md);
}
.cards__element__body {
  letter-spacing: 0.09px;
  line-height: 23px;
  font-size: var(--fs-xs);
}
.cards__element__img {
  width: 57px;
  margin-top: auto;
  align-self: end;
}

/*==============================
|6| MEDIA QUERIES
==============================*/

@media (min-width: 650px) and (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1100px) {
  :root {
    --fs-lg: 2.25rem;
  }

  .cards {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(4, 0.5fr);
  }

  .cards__element {
    min-height: 250px;
  }

  .cards__element:nth-child(1) {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }
  .cards__element:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  .cards__element:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
  }
  .cards__element:nth-child(4) {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  .cards__element__img {
    width: 64px;
  }
}
